<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
{{ News }}
<hr>
{{ Class }}:
<hr>
{% for i in Class %}
    {{ i }}<br>
{% endfor%}
<hr>
{{ info_dict }}
<hr>
{% for key,value in info_dict.items %}
    {{ key }}:{{ value }}<br>
{% endfor %}
<hr>
{{ List }}
<hr>
{% for item in List %}
    {{ item }}
    {% if not forloop.last %},{% endif %}
{#    forloop.last 判断不是最后一项就加逗号，是最后一项就不加。#}
{% endfor %}
<hr>
forloop.counter	索引从 1 开始算
forloop.counter0	索引从 0 开始算
forloop.revcounter	索引从最大长度到 1
forloop.revcounter0	索引从最大长度到 0
forloop.first	当遍历的元素为第一项时为真
forloop.last	当遍历的元素为最后一项时为真
forloop.parentloop
用在嵌套的 for 循环中，

获取上一层 for 循环的 forloop
</body>
</html>