{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}
        {% if title %}
            {{ title }}
        {% else %}
            Vincent`s Site
        {% endif %}
    {% endblock %} </title>

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/mega-menu.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Le Google font -->
    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>

    <style>
        body {
            padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
</head>
<body>
{% block header %}
    <header class="navbar navbar-inverse navbar-fixed-top" id="top">
        <div class="container-fluid" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=" "><img src="{% static 'img/vincent_logo.png' %}" alt="responsive Mega Menu"/></a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <hr class="container">
    <footer class="container">
        <p>这是王少兵的网站，目前还是测试阶段，请期待...<a href="http://www.wangshaobing.com:8000" title="Vincent Site" target="_blank">Vincent
            Thanks</a></p>
    </footer>
{% endblock %}

</body>
</html>