{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}
        {% if title %}
            {{ title }}
        {% else %}
            Vincent`s Site
        {% endif %}
    {% endblock %} </title>
    <link rel="shortcut icon" href="{% static 'img/vincent_blue.png' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.2.0.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/mega-menu.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/myjs.js' %}"></script>
    <!-- Le Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800|Roboto:100,300,700&subset=latin-ext"
          rel="stylesheet">
    {#    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet'#}
    {#          type='text/css'>#}
    {#    <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>#}
    {#    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>#}
    {#    <link href='https://fonts.googleapis.com/css?family=Lato:300,300italic,400' rel='stylesheet' type='text/css'>#}
    <style>
        * {
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            border-radius: 0 !important;
        }
        {% block style %}{% endblock %}</style>
</head>
<body>
{% block header %}
    <div class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin: 0">
        <nav class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"  style="padding-top: 10px;padding-right: 5px"><img src="{% static 'img/vincent_white.png' %}" width="30" height="30"
                                                      alt="Vincent"/></a>
                <a class="navbar-brand" href="/">Vincent</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!--向左对齐-->
                <ul class="nav navbar-nav" id="nav-bar">
                    <li><a href="/ulist">平台数据<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" data-target="#dropdown"><span class="glyphicon glyphicon-tasks"
                                                                               aria-hidden="true"></span> 开发建设<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="#"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>网络抓取</a>
                            </li>
                            <li><a href="#"><span class="glyphicon glyphicon-eye-open"
                                                  aria-hidden="true"></span>数据分析</a>
                            </li>
                            <li><a href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>视图展示</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><span class="glyphicon glyphicon-king" aria-hidden="true"></span>流言和绯语</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><span class="glyphicon glyphicon-queen" aria-hidden="true"></span>在人间</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">视频教程<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">生活感悟</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                            关于我 <span class="caret"></span></a>


                        <section class="dropdown-menu mega-menu-3 transition">
                            <ul style="padding-left: 5px">
                                <li class="nav-title">照片</li>
                                <li class="with-image"><img src="{% static 'img/180.jpg' %}" alt="Cool Product"
                                                            class="thumbnail img-rounded"/></li>
                            </ul>
                            <ul style="padding-left: 14px">
                                <li class="nav-title">自我介绍</li>
                                <li><p>我和谁都不争 和谁争我都不屑 我爱大自然 其次就是艺术 我双手烤着 生命之火取暖 火萎了 我也准备走了</p></li>
                            </ul>
                            <ul style="padding-left: 5px">
                                <li class="nav-title">扯淡语</li>
                                <li><a href="/aboutme">我是谁</a></li>
                                <li><a href="/aboutme/#section-2">我从哪里来</a></li>
                                <li><a href="/aboutme/#section-3">要到哪里去</a></li>
                                <li><a href="/aboutme/#section-4">有没有外星人</a></li>
                                <li><a href="/aboutme/#section-5">宇宙有没有边界</a></li>
                                <li><a href="/aboutme/#section-6">好头疼</a></li>
                            </ul>
                            <ul class="mega-wide add-products" style="padding-left: 5px">
                                <li class="nav-title"><i class="icon-picture"></i> 展示</li>
                                <li class="with-image"><a href="#" class="no-background no-padding"><img
                                        src="{% static 'img/product.jpg' %}"
                                        alt="Cool Product"
                                        class="thumbnail"/></a></li>
                                <li class="with-image"><a href="#" class="no-background no-padding"><img
                                        src="{% static 'img/product.jpg' %}"
                                        alt="Cool Product"
                                        class="thumbnail"/></a></li>
                            </ul>
                        </section>
                    </li>
                </ul>
                <!--向右对齐-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/account/register"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a href="/account/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                </ul>
                <div>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">提交</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}

    <div class="panel panel-footer panel-danger" style="background: #111111;margin: 0">
        <div class="container">
            <div class="panel-body" style="text-align: center">
                <p>这是王少兵的网站，目前还是测试阶段，请期待...<a href="http://wangshaobing.com:8000" title="Vincent Site" target="_blank">Copyright
                    information</a></p>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>